<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form method="POST" action="{% url 'cadastrar_formulario' %}">

        {% csrf_token %}

    <h1>Cadastrar um Post</h1>
    
    {% for post in post_form %}
        <h2>{{ post.label_tag }}</h2>
        <p>{{ post }}</p>
    {% endfor %}

    <button type="submit">Enviar</button>
    

    </form>
  



</body>
</html>